.form {
	border: solid black 5px;
	justify-self: center;
	padding: 15px 10px 10px;

	form {
		display: flex;
		flex-direction: column;
		gap: 15px;

		fieldset {
			padding: 10px;
			border: none;

			legend {
				font-family: var(--title);
				font-weight: 900;
				font-size: 20px;
				margin-bottom: -5px;
			}
		}

		label {
			display: block;
			font-size: 18px;
			color: #545454;
			margin-bottom: 4px;
		}

		input[type="text"],
		select,
		option,
		textarea {
			width: 350px;
		}

		textarea {
			resize: none;
			min-height: 150px;
			font-family: inherit;
			font-size: 16px;
			padding: 4px 6px;
		}

		.fieldgroup {
			display: flex;
			align-items: start;
			gap: 20px;
		}
	}
}
