.asset-preview:has(.module) {
	background: url(../assets/bg-colors/module-1.svg) top -17px right 84px,
		url(../assets/bg-colors/module-2.svg) top 55px right -31px;

	.icon {
		background-color: #d8cddd;
	}
	span.asset-type {
		color: #7f5a8f;
	}
}

.asset-preview:has(.commandVehicle) {
	background: url(../assets/bg-colors/command-vehicle-1.svg) top -16px right 84px,
		url(../assets/bg-colors/command-vehicle-2.svg) top 55px right -31px;

	.icon {
		background-color: #e0e3e6;
	}
	span.asset-type {
		color: #9aa3ae;
	}
}

.asset-preview:has(.supportVehicle) {
	background: url(../assets/bg-colors/support-vehicle-1.svg) top -17px right 84px,
		url(../assets/bg-colors/support-vehicle-2.svg) top 55px right -31px;

	.icon {
		background-color: #c8ccdd;
	}
	span.asset-type {
		color: #4a5690;
	}
}

.asset-preview:has(.path) {
	background: url(../assets/bg-colors/path-1.svg) top -17px right 84px,
		url(../assets/bg-colors/path-2.svg) top 55px right -31px;

	.icon {
		background-color: #c4d8e5;
	}
	span.asset-type {
		color: #417faa;
	}
}

.asset-preview:has(.companion) {
	background: url(../assets/bg-colors/companion-1.svg) top -17px right 84px,
		url(../assets/bg-colors/companion-2.svg) top 55px right -31px;

	.icon {
		background-color: #c4dcdc;
	}
	span.asset-type {
		color: #3f8c89;
	}
}

.asset-preview:has(.deed) {
	background: url(../assets/bg-colors/deed-1.svg) top -17px right 84px,
		url(../assets/bg-colors/deed-2.svg) top 55px right -31px;

	.icon {
		background-color: #c4daca;
	}
	span.asset-type {
		color: #4b974e;
	}
}

.asset-preview {
	min-height: 525px;
	width: 375px;
	border: black 2px solid;
	padding: 15px;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat !important;

	header {
		position: relative;
		min-height: 80px;

		.title-container {
			display: flex;
			flex-direction: column;
			gap: 2px;

			span.asset-type,
			span.asset-title {
				font-family: var(--title);
				line-height: 85%;
			}

			span.asset-title {
				font-weight: 900;
				font-size: 26px;
				max-width: 180px;
				word-wrap: break-word;
			}

			span.asset-type {
				font-size: 15px;
				font-weight: 700;
			}
		}

		.clip {
			clip-path: url(#svg-hex);
		}

		.icon-container {
			$height: 80px;
			$width: 75px;
			$gap: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: black;
			height: $height;
			width: $width;
			position: absolute;
			top: 0px;
			right: 5px;

			.icon {
				height: $height - $gap;
				width: $width - $gap;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					max-width: 100%;
				}
			}
		}
	}

	ul.description {
		display: flex;
		flex-direction: column;
		gap: 4px;

		> li {
			list-style: none;
			font-family: var(--text);
			position: relative;
			font-size: 18px;
			white-space: pre-line;
			padding-left: 25px;
			margin-right: 10px;
			background-position: 0 2px;
			background-repeat: no-repeat;
			background-image: url(../assets/hex-border.svg);

			&.checked {
				background-image: url(../assets/hex-filled.svg);
			}
		}
	}
}
