.asset-preview:has(.module) {
	&::before {
		content: url(../assets/bg-colors/module-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/module-2.svg);
	}
	.icon {
		background-color: #d8cddd;
	}
	span.asset-type {
		color: #7f5a8f;
	}
}

.asset-preview:has(.commandVehicle) {
	&::before {
		content: url(../assets/bg-colors/command-vehicle-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/command-vehicle-2.svg);
	}
	.icon {
		background-color: #e0e3e6;
	}
	span.asset-type {
		color: #9aa3ae;
	}
}

.asset-preview:has(.supportVehicle) {
	&::before {
		content: url(../assets/bg-colors/support-vehicle-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/support-vehicle-2.svg);
	}
	.icon {
		background-color: #c8ccdd;
	}
	span.asset-type {
		color: #4a5690;
	}
}

.asset-preview:has(.path) {
	&::before {
		content: url(../assets/bg-colors/path-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/path-2.svg);
	}
	.icon {
		background-color: #c4d8e5;
	}
	span.asset-type {
		color: #417faa;
	}
}

.asset-preview:has(.companion) {
	&::before {
		content: url(../assets/bg-colors/companion-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/companion-2.svg);
	}
	.icon {
		background-color: #c4dcdc;
	}
	span.asset-type {
		color: #3f8c89;
	}
}

.asset-preview:has(.deed) {
	&::before {
		content: url(../assets/bg-colors/deed-1.svg);
	}
	&::after {
		content: url(../assets/bg-colors/deed-2.svg);
	}
	.icon {
		background-color: #c4daca;
	}
	span.asset-type {
		color: #4b974e;
	}
}

.asset-preview {
	min-height: 525px;
	width: 375px;
	border: black 2px solid;
	padding: 15px;
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: -17px;
		right: 84px;
	}

	&::after {
		position: absolute;
		right: -31px;
		top: 55px;
	}

	header {
		position: relative;
		min-height: 80px;

		.title-container {
			display: flex;
			flex-direction: column;
			gap: 2px;

			span.asset-type,
			span.asset-title {
				font-family: var(--title);
				line-height: 85%;
			}

			span.asset-title {
				font-weight: 900;
				font-size: 26px;
				max-width: 180px;
				word-wrap: break-word;
			}

			span.asset-type {
				font-size: 15px;
				font-weight: 700;
			}
		}

		.clip {
			clip-path: url(#svg-hex);
		}

		.icon-container {
			$height: 80px;
			$width: 75px;
			$gap: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: black;
			height: $height;
			width: $width;
			position: absolute;
			top: 0px;
			right: 5px;

			.icon {
				height: $height - $gap;
				width: $width - $gap;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					max-width: 100%;
				}
			}
		}
	}

	li {
		list-style: none;
	}

	ul.description {
		display: flex;
		flex-direction: column;
		gap: 4px;

		> li {
			font-family: var(--text);
			position: relative;
			margin-right: 15px;
			margin-left: 30px;
			font-size: 18px;
			white-space: pre-line;

			&::before {
				position: absolute;
				left: -25px;
				top: 5px;
			}

			&:not(.checked)::before {
				content: url(../assets/hex-border.svg);
			}

			&.checked::before {
				content: url(../assets/hex-filled.svg);
			}

			li {
				display: flex;

				&::before {
					content: "✴";
					font-size: 12px;
					font-weight: bold;
					margin-top: 3px;
					margin-right: 4px;
				}
			}
		}
	}
}
