/* #region Fonts Declaration */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
	font-family: "Proxima Nova Condensed Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Proxima Nova Condensed Regular"),
		url("./assets/fonts/ProximaNovaCondensedRegular.woff") format("woff");
}

@font-face {
	font-family: "Proxima Nova Condensed Regular";
	font-style: normal;
	font-weight: bold;
	src: local("Proxima Nova Condensed Regular"),
		url("./assets/fonts/ProximaNovaCondensedBold.woff") format("woff");
}

@font-face {
	font-family: "Poster Gothic Round ATF";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/PosterGothicRoundATF.otf") format("opentype");
}

@font-face {
	font-family: "Poster Gothic Round ATF";
	font-style: normal;
	font-weight: bold;
	src: url("./assets/fonts/PosterGothicRoundATFBold.otf") format("opentype");
}

@font-face {
	font-family: "Poster Gothic Round ATF";
	font-style: normal;
	font-weight: 900;
	src: url("./assets/fonts/PosterGothicRoundATFHeavy.otf") format("opentype");
}

/* #endregion */

/* #region Global Variables */

:root {
	--title: "Poster Gothic Round ATF", sans-serif;
	--text: "Proxima Nova Condensed Regular", "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
	--ui: "Inter", sans-serif;
	--black: #131a1c;
	--red: #cf242b;
	--l-grey: #dbe0e8;
	--grey: #8e8e8e;
}

/* #endregion */

/* #region Reset */

* {
	padding: 0;
	margin: 0;
	font-weight: normal;
	box-sizing: border-box;
}

/* #endregion */

.wrapper {
	min-height: 100vh;
	font-family: var(--text);
	color: var(--black);
	display: grid;
	grid-template-rows: 1fr 40px;

	.main-container {
		gap: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		justify-self: center;
		max-width: 900px;
		margin: 40px 20px;

		@media screen and (max-width: 900px) {
			header.main-header {
				margin-bottom: 20px;
				max-width: 700px;
				text-align: center;
			}
		}
	}

	header.main-header {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 20px;

		h1 {
			font-size: 36px;
			font-family: var(--ui);
			font-weight: 700;
			background: url(./assets/stars.gif);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		svg {
			margin-top: 10px;
			height: 24px;
		}
	}

	main {
		gap: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	footer {
		background: var(--l-grey);
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: solid var(--black) 1px;

		a {
			text-decoration: none;
			font-weight: bold;
			color: inherit;
		}
	}
}
